.top-menu {
    display: none;
    @include breakpoint($lg) {
        display: block;
    }
    ul {
        display: block;
        width: 100%;
        li {
            display: inline-block;
            position: relative;
            padding: 0 35px;
            ul {
                display: none;
            }
            &:hover ul {
                position: absolute;
                display: block;
                width: 100%;
                border: 1px;
                background: $white;
                li {
                    display: block;
                    padding: 0;
                }
            }
        }
    }
}
.mobile-menu {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: $white;
    z-index: 10;
    ul {
        display: block;
        text-align: center;
    }
}
.menu_button {
    @include breakpoint($lg) {
        display: none;
    }
    z-index: 11;
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: $black;
    background: none;
    border: none;
    outline: none;
    &:before {
        font-family: 'icomoon';
        content: "\e600";
    }
    &.is-open:before {
        font-family: 'icomoon';
        content: "\e601";
    }
}
