    header {
        position: fixed;
        background: $trans-blue;
        padding: 25px 25px 25px 12px;
        @include breakpoint($lg) {
            position: absolute;
            background: $trans-blue;
            padding-left: 25px;
        }
        width: 100%;
        z-index: 10;
        .logo {
            display: inline-block;
            width: 10%;
            vertical-align: middle;
            img {
                width: 200px;
                @include breakpoint($md) {
                    width: auto;
                }
            }
        }
        .right-header {
            display: none;
            vertical-align: middle;
            color: $white;
            text-align: right;
            background: $trans-blue;
            border-radius: 4px;
            @include breakpoint($lg) {
                display: inline-block;
                position: static;
                width: 89%;
                background: none;
            }
        }
        .info {
            font-family: $header;
            font-size: 18px;
            text-align: center;
            @include breakpoint($lg) {
                text-align: right;
            }
            span {
                display: none;
                @include breakpoint($lg) {
                    display: inline;
                    text-align: right;
                }
            }
            img {
                padding: 8px;
                margin: 0 auto;
                display: block;
                @include breakpoint($lg) {
                    margin: -3px 8px;
                    display: inline;
                    padding: 0;
                }
            }
        }
    }
    .banner {
        background-image: url(/banner-img.jpg);
        background-size: cover;
        background-position: 83%;
        padding: 220px 0 80px;
        @include breakpoint($lg) {
            padding: 300px 0 160px
        }
        .box {
            font-size: 36px;
            @include breakpoint($md) {
                font-size: 42px;
            }
            @include breakpoint($lg) {
                font-size: 55px;
                padding: 35px 50px;
            }
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
            color: white;
            text-align: center;
            padding: 35px 20px;
            margin: 0 auto;
            background: $trans-blue;
            max-width: 80%;
            width: 700px;
            border-radius: 8px;
            line-height: 1.2;
            button {
                border: none;
            }
        }
    }
    .text-area {
        padding: 70px 0 50px;
        text-align: center;
        @include breakpoint($sm) {
            text-align: left;
        }
        h1 {
            color: $blue;
            text-align: center;
            margin-bottom: 50px;
            font-size: 34px;
        }
        .main-text {
            color: $text-grey;
            colums: 2 300px;
            -webkit-columns: 2 300px;
            -moz-columns: 2 300px;
            column-gap: 26px;
            -webkit-column-gap: 26px;
            -moz-column-gap: 26px;
        }
        .buttons {
            margin-top: 60px;
            text-align: center;
            button {
                margin: 0 13px 10px;
            }
        }
    }
    .steps {
        color: $white;
        background: $blue;
        padding: 40px 0;
        h1 {
            font-size: 31px;
            text-align: center;
            @include breakpoint($lg) {
                text-align: left;
            }
        }
        .grid3 {
            text-align: center;
            font-size: 15px;
            margin-top: 16px;
            padding: 0;
            &:first-child {
                margin-top: 0;
            }
        }
        img {
            margin-bottom: 12px;
        }
    }
    .testimonials {
        background-color: $light-grey;
        padding: 71px 0;
        p {
            margin-top: 30px;
            text-align: center;
            color: $text-grey-dark;
            @include breakpoint($lg) {
                text-align: left;
                font-size: 22px;
            }
        }
        h1 {
            text-align: center;
            color: $blue;
            font-size: 30px;
        }
        h2 {
            text-align: center;
            font-size: 18px;
            font-family: $semi-bold;
            color: $text-grey;
        }
        .round-border {
            border-radius: 50%;
            border: 8px solid $blue;
            margin: 0 auto;
            display: block;
        }
    }
    .montage {
        height: 500px;
        background: url(/montage.jpg);
        background-position: center center;
    }
    footer {
        text-align: center;
        padding: 35px 0;
        color: $light-grey;
        background: $dark-grey;
        font-size: 15px;
        .sideinfo {
            @include breakpoint($lg) {
                display: none;
            }
            position: fixed;
            top: 200px;
            right: 0;
            background: $trans-blue;
            border-radius: 4px;
            span {
                display: none;
            }
            img {
                display: block;
                padding: 10px;
                margin: 0 auto;
            }
        }
        .footer-logo {
            @include breakpoint($md) {
                width: 20%;
                display: inline-block;
                text-align: left;
            }
            img {
                width: 170px;
                opacity: 0.5;
                vertical-align: middle;
                padding-bottom: 20px;
                @include breakpoint($md) {
                    padding-left: 20px;
                    padding-bottom: 0;
                }
            }
        }
        .footer-text {
            @include breakpoint($md) {
                display: inline-block;
                width: 79%;
                vertical-align: middle;
                text-align: right;
            }
            opacity: 0.4;
            @include breakpoint($md) {
                padding-right: 20px;
            }
        }
    }
