$black: #151515;
$white: #fff;
$blue: #70b6b4;
$trans-blue: rgba(112, 182, 180, 0.70);
$light-grey: #f1f1f1;
$dark-grey: #484949;
$text-grey: #484949;

/*fonts*/

$text: "Open Sans",
sans-serif;
$header: "Arvo Bold",
sans-serif;
