$black: #151515;
$white: #fff;
$blue: #58acac;
$trans-blue: rgba(50, 153, 153, 0.8);
$light-grey: #f1f1f1;
$dark-grey: #484949;
$text-grey: #b3b3b3;
$text-grey-dark: #626462;

/*fonts*/

$text: "Open Sans",
sans-serif;
$header: "Arvo Bold",
sans-serif;
$bold: "Open Sans Bold",
sans-serif;
$semi-bold: "Open Sans Semibold",
sans-serif;
