/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Arvo Bold";
  src: url(/fonts/Arvo-Bold-webfont.eot);
  src: url(/fonts/Arvo-Bold-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/Arvo-Bold-webfont.woff) format('woff'), url(/fonts/Arvo-Bold-webfont.svg) format('svg'), url(/fonts/Arvo-Bold-webfont.ttf) format('truetype');
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Regular-webfont.eot);
  src: url(/fonts/OpenSans-Regular-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/OpenSans-Regular-webfont.woff) format('woff'), url(/fonts/OpenSans-Regular-webfont.svg) format('svg'), url(/fonts/OpenSans-Regular-webfont.ttf) format('truetype');
}
@font-face {
  font-family: "Open Sans Semibold";
  src: url(/fonts/OpenSans-Semibold-webfont.eot);
  src: url(/fonts/OpenSans-Semibold-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/OpenSans-Semibold-webfont.woff) format('woff'), url(/fonts/OpenSans-Semibold-webfont.svg) format('svg'), url(/fonts/OpenSans-Semibold-webfont.ttf) format('truetype');
}
@font-face {
  font-family: "Open Sans Bold";
  src: url(/fonts/OpenSans-Bold-webfont.eot);
  src: url(/fonts/OpenSans-Bold-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/OpenSans-Bold-webfont.woff) format('woff'), url(/fonts/OpenSans-Bold-webfont.svg) format('svg'), url(/fonts/OpenSans-Bold-webfont.ttf) format('truetype');
}
@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?wycmvo");
  src: url("/fonts/icomoon.eot?#iefixwycmvo") format("embedded-opentype"), url("/fonts/icomoon.ttf?wycmvo") format("truetype"), url("/fonts/icomoon.woff?wycmvo") format("woff"), url("/fonts/icomoon.svg?wycmvo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* icomoon icons */
/* line 16, ../sass/_typography.scss */
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 29, ../sass/_typography.scss */
.icon-cross:before {
  content: "\e601";
}

/* line 32, ../sass/_typography.scss */
.icon-menu:before {
  content: "\e600";
}

/*fonts*/
/* line 8, ../sass/_grid.scss */
.container {
  max-width: 1012px;
  margin: 0px auto;
  padding: 0 10px 0 10px;
  display: block;
}

/* line 30, ../sass/_grid.scss */
.grid1 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid1 {
    width: 6.26087%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.89723%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid2 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid2 {
    width: 14.41897%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.89723%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid3 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid3 {
    width: 22.57708%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.89723%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid4 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid4 {
    width: 30.73518%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.89723%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid5 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid5 {
    width: 38.89328%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.89723%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid6 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid6 {
    width: 47.05138%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.89723%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid7 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid7 {
    width: 55.20949%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.89723%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid8 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid8 {
    width: 63.36759%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.89723%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid9 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid9 {
    width: 71.52569%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.89723%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid10 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid10 {
    width: 79.68379%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.89723%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid11 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid11 {
    width: 87.8419%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.89723%;
    margin-bottom: 0;
  }
}

/* line 50, ../sass/_grid.scss */
.grid:first-child {
  margin-left: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
/* line 3, ../sass/_general.scss */
html {
  box-sizing: border-box;
}

/* line 6, ../sass/_general.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 11, ../sass/_general.scss */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

/* line 15, ../sass/_general.scss */
h1 {
  font-family: "Arvo Bold", sans-serif;
}

/* line 18, ../sass/_general.scss */
button {
  color: #70b6b4;
  background-color: #fff;
  border-radius: 11px;
  padding: 11px 16px;
  font-size: 16px;
  outline: none;
  border: 2px solid #70b6b4;
  width: 150px;
  font-family: "Open Sans Bold", sans-serif;
  -webkit-transition: all 0.2s linear;
  -webkit-transform: scale(1);
  transition: all 0.2s linear;
  transform: scale(1);
}
/* line 32, ../sass/_general.scss */
button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #70b6b4;
  border-color: transparent;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

/* line 1, ../sass/_nav.scss */
.top-menu {
  display: none;
}
@media (min-width: 1025px) {
  /* line 1, ../sass/_nav.scss */
  .top-menu {
    display: block;
    text-align: right;
    padding-top: 16px;
  }
}
/* line 8, ../sass/_nav.scss */
.top-menu ul {
  display: block;
  width: 100%;
  font-size: 14px;
}
/* line 12, ../sass/_nav.scss */
.top-menu ul li {
  display: inline-block;
  position: relative;
  padding: 0 6px;
}
/* line 13, ../sass/_nav.scss */
.top-menu ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 1200px) {
  /* line 12, ../sass/_nav.scss */
  .top-menu ul li {
    padding: 0 10px;
  }
}
/* line 24, ../sass/_nav.scss */
.top-menu ul li ul {
  display: none;
}
/* line 27, ../sass/_nav.scss */
.top-menu ul li:hover ul {
  position: absolute;
  display: block;
  width: 100%;
  border: 1px;
  background: #fff;
}
/* line 33, ../sass/_nav.scss */
.top-menu ul li:hover ul li {
  display: block;
  padding: 0;
}

/* line 41, ../sass/_nav.scss */
.mobile-menu {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #484949;
  z-index: 10;
  font-size: 18px;
}
/* line 50, ../sass/_nav.scss */
.mobile-menu ul {
  display: block;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  line-height: 3.6;
}
/* line 58, ../sass/_nav.scss */
.mobile-menu ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-family: "Open Sans Bold", sans-serif;
}
/* line 63, ../sass/_nav.scss */
.mobile-menu ul li ul {
  display: none;
}

/* line 68, ../sass/_nav.scss */
.menu_button {
  z-index: 11;
  position: fixed;
  top: 20px;
  right: 15px;
  font-size: 60px;
  color: #fff;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  width: auto;
}
@media (min-width: 1025px) {
  /* line 68, ../sass/_nav.scss */
  .menu_button {
    display: none;
  }
}
/* line 83, ../sass/_nav.scss */
.menu_button:hover {
  color: #fff;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-transform: none;
  transform: none;
}
/* line 92, ../sass/_nav.scss */
.menu_button:before {
  font-family: 'icomoon';
  content: "\e600";
}
/* line 96, ../sass/_nav.scss */
.menu_button.is-open:before {
  font-family: 'icomoon';
  content: "\e601";
  color: #626462;
}

/* line 1, ../sass/_sections.scss */
header {
  position: fixed;
  background: rgba(112, 182, 180, 0.8);
  padding: 25px 25px 25px 12px;
  width: 100%;
  z-index: 10;
}
@media (min-width: 1025px) {
  /* line 1, ../sass/_sections.scss */
  header {
    position: absolute;
    background: rgba(112, 182, 180, 0.8);
    padding-left: 25px;
  }
}
/* line 12, ../sass/_sections.scss */
header .logo {
  display: inline-block;
  width: 10%;
  vertical-align: middle;
}
/* line 16, ../sass/_sections.scss */
header .logo img {
  width: 200px;
}
@media (min-width: 960px) {
  /* line 16, ../sass/_sections.scss */
  header .logo img {
    width: auto;
  }
}
/* line 23, ../sass/_sections.scss */
header .right-header {
  display: none;
  vertical-align: middle;
  color: #fff;
  text-align: right;
  background: rgba(112, 182, 180, 0.8);
  border-radius: 4px;
}
@media (min-width: 1025px) {
  /* line 23, ../sass/_sections.scss */
  header .right-header {
    display: inline-block;
    position: static;
    width: 89%;
    background: none;
  }
}
/* line 37, ../sass/_sections.scss */
header .info {
  font-family: "Arvo Bold", sans-serif;
  font-size: 18px;
  text-align: center;
}
@media (min-width: 1025px) {
  /* line 37, ../sass/_sections.scss */
  header .info {
    text-align: right;
  }
}
/* line 44, ../sass/_sections.scss */
header .info span {
  display: none;
}
@media (min-width: 1025px) {
  /* line 44, ../sass/_sections.scss */
  header .info span {
    display: inline;
    text-align: right;
  }
}
/* line 51, ../sass/_sections.scss */
header .info img {
  padding: 8px;
  margin: 0 auto;
  display: block;
}
@media (min-width: 1025px) {
  /* line 51, ../sass/_sections.scss */
  header .info img {
    margin: -3px 8px;
    display: inline;
    padding: 0;
  }
}

/* line 63, ../sass/_sections.scss */
.banner {
  background-image: url(/banner-img.jpg);
  background-size: cover;
  background-position: 83%;
  padding: 220px 0 80px;
}
@media (min-width: 1025px) {
  /* line 63, ../sass/_sections.scss */
  .banner {
    padding: 300px 0 160px;
  }
}
/* line 71, ../sass/_sections.scss */
.banner .box {
  font-size: 36px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 35px 20px;
  margin: 0 auto;
  background: rgba(112, 182, 180, 0.8);
  max-width: 80%;
  width: 700px;
  border-radius: 8px;
  line-height: 1.2;
}
@media (min-width: 960px) {
  /* line 71, ../sass/_sections.scss */
  .banner .box {
    font-size: 42px;
  }
}
@media (min-width: 1025px) {
  /* line 71, ../sass/_sections.scss */
  .banner .box {
    font-size: 55px;
    padding: 35px 50px;
  }
}
/* line 90, ../sass/_sections.scss */
.banner .box button {
  border: none;
}

/* line 95, ../sass/_sections.scss */
.text-area {
  padding: 70px 0 50px;
  text-align: center;
}
@media (min-width: 677px) {
  /* line 95, ../sass/_sections.scss */
  .text-area {
    text-align: left;
  }
}
/* line 101, ../sass/_sections.scss */
.text-area h1 {
  color: #70b6b4;
  text-align: center;
  margin-bottom: 50px;
  font-size: 34px;
}
/* line 107, ../sass/_sections.scss */
.text-area .main-text {
  color: #b3b3b3;
  colums: 2 300px;
  -webkit-columns: 2 300px;
  -moz-columns: 2 300px;
  column-gap: 26px;
  -webkit-column-gap: 26px;
  -moz-column-gap: 26px;
}
/* line 116, ../sass/_sections.scss */
.text-area .buttons {
  margin-top: 60px;
  text-align: center;
}
/* line 119, ../sass/_sections.scss */
.text-area .buttons button {
  margin: 0 13px 10px;
}

/* line 124, ../sass/_sections.scss */
.steps {
  color: #fff;
  background: #70b6b4;
  padding: 40px 0;
}
/* line 128, ../sass/_sections.scss */
.steps h1 {
  font-size: 31px;
  text-align: center;
}
@media (min-width: 1025px) {
  /* line 128, ../sass/_sections.scss */
  .steps h1 {
    text-align: left;
  }
}
/* line 135, ../sass/_sections.scss */
.steps .grid3 {
  text-align: center;
  font-size: 15px;
  margin-top: 16px;
  padding: 0;
}
/* line 140, ../sass/_sections.scss */
.steps .grid3:first-child {
  margin-top: 0;
}
/* line 144, ../sass/_sections.scss */
.steps img {
  margin-bottom: 12px;
}

/* line 148, ../sass/_sections.scss */
.testimonials {
  background-color: #f1f1f1;
  padding: 71px 0;
}
/* line 151, ../sass/_sections.scss */
.testimonials p {
  margin-top: 30px;
  text-align: center;
  color: #626462;
}
@media (min-width: 1025px) {
  /* line 151, ../sass/_sections.scss */
  .testimonials p {
    text-align: left;
    font-size: 22px;
  }
}
/* line 160, ../sass/_sections.scss */
.testimonials h1 {
  text-align: center;
  color: #70b6b4;
  font-size: 30px;
}
/* line 165, ../sass/_sections.scss */
.testimonials h2 {
  text-align: center;
  font-size: 18px;
  font-family: "Open Sans Semibold", sans-serif;
  color: #b3b3b3;
}
/* line 171, ../sass/_sections.scss */
.testimonials .round-border {
  border-radius: 50%;
  border: 8px solid #70b6b4;
  margin: 0 auto;
  display: block;
}

/* line 178, ../sass/_sections.scss */
.montage {
  height: 500px;
  background: url(/montage.jpg);
  background-position: center center;
}

/* line 183, ../sass/_sections.scss */
footer {
  text-align: center;
  padding: 35px 0;
  color: #f1f1f1;
  background: #484949;
  font-size: 15px;
}
/* line 189, ../sass/_sections.scss */
footer .sideinfo {
  position: fixed;
  top: 200px;
  right: 0;
  background: rgba(112, 182, 180, 0.8);
  border-radius: 4px;
}
@media (min-width: 1025px) {
  /* line 189, ../sass/_sections.scss */
  footer .sideinfo {
    display: none;
  }
}
/* line 198, ../sass/_sections.scss */
footer .sideinfo span {
  display: none;
}
/* line 201, ../sass/_sections.scss */
footer .sideinfo img {
  display: block;
  padding: 10px;
  margin: 0 auto;
}
@media (min-width: 960px) {
  /* line 207, ../sass/_sections.scss */
  footer .footer-logo {
    width: 20%;
    display: inline-block;
    text-align: left;
  }
}
/* line 213, ../sass/_sections.scss */
footer .footer-logo img {
  width: 170px;
  opacity: 0.5;
  vertical-align: middle;
  padding-bottom: 20px;
}
@media (min-width: 960px) {
  /* line 213, ../sass/_sections.scss */
  footer .footer-logo img {
    padding-left: 20px;
    padding-bottom: 0;
  }
}
/* line 224, ../sass/_sections.scss */
footer .footer-text {
  opacity: 0.4;
}
@media (min-width: 960px) {
  /* line 224, ../sass/_sections.scss */
  footer .footer-text {
    display: inline-block;
    width: 79%;
    vertical-align: middle;
    text-align: right;
  }
}
@media (min-width: 960px) {
  /* line 224, ../sass/_sections.scss */
  footer .footer-text {
    padding-right: 20px;
  }
}
